html {
    background-color: rgb(34, 36, 48) 
}


* {
    color: white;
    font-family: sans-serif;
    font-size: 110%;
    margin: 10px;
}


a {
    color: orange;
}


h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}